POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=vsoko_database
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

Jwt__SecretKey=
AI__ApiKey=

ASPNETCORE_ENVIRONMENT=Development