POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=vsoko_database
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

Jwt__SecretKey=
Cors__AllowedOrigins=

AI__ApiKey=
AI__Model=google/gemini-2.5-flash
AI__Endpoint=https://openrouter.ai/api/v1
AI__ProxyUrl=

ASPNETCORE_ENVIRONMENT=Development